.nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__item {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', Arial, sans-serif;
}

.nav__ref {
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 28px;
    text-decoration: none;
}

.nav__ref_active_main {
    border-bottom: 1px solid #ffffff;
}

.nav__ref_active_save {
    border-bottom: 1px solid #1A1B22;
}

.nav__item-button {
    padding-top: 16px;
    padding-bottom: 12px;
}

.nav__button {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', Arial, sans-serif;
    color: #ffffff;
    background-color: transparent;
    padding: 12px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    margin-left: 44px;
    cursor: pointer;
}

.nav__button_exit {
    padding-right: 37px;
}

.nav__button_exit::after {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    background-image: url(../../images/exit-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    top: 14px;
    right: 10px;
}

.nav__button_exit_dark::after {
    background-image: url(../../images/exit.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.nav__save-article {
    color: #B6BCBF;
    margin-left: 34px;
}

.nav__ref_dark {
    color: #1A1B22
}

.nav__button_dark {
    border: 1px solid #1A1B22;
    color: #1A1B22
}

/* Адаптив */

@media screen and (max-width: 920px) {
    .nav__item {
        font-size: 16px;
    }

    .nav__save-article {
        margin-left: 16px;
    }

    .nav__button {
        font-size: 16px;
        margin-left: 16px;
    }
}

@media screen and (max-width: 660px) {
    .nav {
        display: none;
    }

    /*Стили для мобильного меню*/
    .nav_mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        margin: 0 auto;
        padding-top: 45px;
    }

    .nav__item_mobile {
        margin-bottom: 20px;
    }

    .nav__ref_mobile {
        border: none;
        margin: 0;
        padding: 0;
        color: #ffffff;
        font-size: 18px;
    }

    .nav__button_mobile {
        margin: 0;
        font-size: 18px;
        line-height: 24px;
        padding: 15px 63px 17px;
    }

    .nav__item-button_mobile {
        padding: 0;
    }
}