.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 104px;
}

.nav__item {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 26px;
}

.nav__item-button {
    padding-top: 19px;
    padding-bottom: 12px;
}

.nav__button {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff;
    background-color: transparent;
    padding: 12px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    margin-left: 44px;
}

.nav__save-article {
    color: #B6BCBF;
    margin-left: 34px;
}

.nav__item_dark {
    color: #1A1B22
}

.nav__button_dark {
    border: 1px solid #1A1B22;
    color: #1A1B22
}